<!-- templates/main/menu.html -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'page2' %}">Второстепенная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'page3' %}">Третья страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'page4' %}">Четвертая страница</a>
    </li>
</ul>
